body {
    background: linear-gradient(to right, #fdfdff, #b7d9e7, #fdeef9);
    font-family: sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px #ccc;
    width: 90%;
    max-width: 400px;
    text-align: center;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.btn {
    display: block;
    background: #d0f0ff;
    padding: 10px;
    margin: 8px 0;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}
.exit-btn {
    color: red;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
}
.row {
    display: flex;
    justify-content: space-between;
}
.message {
    color: red;
}